<h2 id="title">Welcome to Ember.js</h2>

<div>
  <h4>dog.jpg</h4>
  {{rails-image src='dog.jpg'}}
  {{rails-asset 'dog.jpg'}}
</div>

<div>
  <h4>nested/cat.jpg</h4>
  {{rails-image src='nested/cat.jpg'}}
  {{rails-asset 'nested/cat.jpg'}}
</div>
